= render :partial => "shared/product_image", :locals => {:product => @product}
.list_comment.clear
  %h3 Comments
  - if @product.root_comments.size > 0
    - @product.root_comments.each do |comment|
      = render :partial => "comment", :locals => {:comment => comment}
  - else
    No comments for this product
- if current_user
  %h3{:style=> "margin-top:20px;"} Leave a New Comment
  = render :partial => "new", :locals => {:commentable => @product, :parent_id => nil}
- else
  %h3{:style=> "margin-top:20px;"} 
    = link_to "Login to leave a New Comment", product_comments_path(@product), :method => :post