- if object.errors.any?
  #form_errors
    %h4= "#{pluralize(object.errors.count, "error")} prohibited this #{object.class.to_s.humanize.downcase} from being saved:"
    %ul
      - object.errors.full_messages.each do |msg|
        %li= msg