.post-container
  .post-title
    = link_to post.name, post.post_url
  .right
    %strong
      Price:
      = post.price
  .clear
  %br
  = link_to "Comments (#{post.comment_threads.count})", product_comments_path(post)
  
