%h3 Thank you for shopping with Hapful

%p
  Your reference number is
  %strong= @order.reference_number

%p
  You may track the status of your order using this URL
  %strong= @order.reference_number

= link_to "See other products", '/market'
