%h5
  = link_to "Products", market_path
  >
  = @category.name


- @products.each do |product|
  = render :partial=>'shared/product_image', :locals=>{:product=>product}
.clear
= will_paginate @products