- if @order
  .infobox
    Your Order with Reference Number
    %strong= @order.reference_number
    - if @order.state.eql?("complete")
      %strong
        has already been shipped to you. 
    - else
      is now
      %strong= @order.state.humanize
%br
Thank you for using Hapful.com