@import 'blueprint'
@import "compass/css3/box-shadow"

=gradient($from, $to)
  background-color: $from
  background-image: -moz-linear-gradient($from, $to)
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to))
  background-image: -webkit-linear-gradient($from, $to)
  background-image: -o-linear-gradient($from, $to)

=border_radius($bl, $br, $tl, $tr)
  border-radius: $bl $br $tl $tr
  -moz-border-radius: $bl $br $tl $tr


// variables
$holder_color: #AA1111

body
  :font-family "Helvetica Neue", Arial, Helvetica, sans-serif
  :background #CDFFFF

a
  :text-decoration none
  :color #008afd
a:hover
  :color #008af1


#form_errors
  +border_radius(5px, 5px, 10px, 10px)
  :border 1px solid
  :background #fbe3e4
  :color #8a1f11
  :font-weight bold
  :margin-bottom 10px
  h4
    +border_radius(5px, 5px, 0, 0)
    :background  #96080a
    :color white
    :padding 5px
    :margin-bottom 1em
  ul
    :list-style none
    :margin 5px
    :padding-left 10px

    li
      :padding 2px

#error_explanation
  :border 1px solid red
  :color black
  h2
    :font-size 14px
    :background  #96080a
    :color white
    :margin-bottom 1em

.field_with_errors
  input
    :background pink

.nav_link
  a
    :color #777
    :font-size 80%

#top_navigation
  :height 30px
  +gradient(#AA1111, #81080a)
  :border-radius 0 0 1em 1em
  :-moz-border-radius 0 0 1em 1em
  :font-size 14px
  :text-align right
  :padding 5px 15px 0 0
  :color #999
  a
    :text-decoration none
    :color #EEE
  a:hover
    :color #AAA

#container
  +container
  +prepend-top(20px)

#header
  :background $holder_color
  :border-radius 0.5em 4em 0 0
  :-moz-border-radius 0.5em 4em 0 0

#content-holder
  :padding-bottom 1em
  +prepend(0.5)
  +append(0.5)
  :min-height 4em
  :background $holder_color
  :border-radius 0 0 0.5em 2em
  :-moz-border-radius 0 0 0.5em 2em

  #content
    :padding 10px 0
    +prepend(0.5)
    +append(0.5)
    :background #FFF
    //+single-box-shadow(#1e1e1e, 0, 0, 5px, 5px, false)

  #footer
    :background #770000
    :min-height 1em
    :color #FFF
    :text-align center
    :padding 15px

#search-products
  :padding 10px
  :background light-gray

#widget-preview
  :border-radius 2px 2px 2px 2px
  :-moz-border-radius 2px 2px 2px 2px
  :min-height 200px
  :background #EFEFEF

.flash
  :border-radius 2px 2px 2px 2px
  :-moz-border-radius 2px 2px 2px 2px
  :padding 0.8em
  :border 2px solid #DDDDDD
  :margin-bottom 1em

#notice-message
  :background none repeat scroll 0 0 #E6EFC2
  :color #264409
  :border-color #C6D880
  :font-weight bold

#error-message
  :background none repeat scroll 0 0 #FBE3E4
  :color #8A1F11
  :border-color #FBC2C4
  :font-weight bold
  
.quarter
  +column(4)

.thirds
  +column(16)

.half
  +column(9)
  //:float left
  //:width 50%

.colright
  +border('#9E9E9E', 1px)

.halfcolright
  +column(10)
  +colborder('#9E9E9E', 1px)

.clear
  :clear both

.notes, .notes a
  :font-style italic
  :margin 0 0 1em
  :font-size 90%
  :color #d9d9d9
  

.dotted_link
  :text-decoration none
  :border-bottom 1px dotted

.image_holder
  :margin-right 20px
  :float left
  img
    :height 100px
    :border 1px solid gray
  .image_title

#categories
  h5
    :background url("images/ui-bg_gloss-wave_55_5c9ccc_500x100.png") repeat-x scroll 50% 50% #5C9CCC
    :padding 10px
    :font-size 16px
    :color white
    :margin-bottom 5px
  ul
    :padding 0
    :margin 0
  li
    :padding 5px
    :list-style-type none

    a
      :display block

  .sub
    :padding-left 15px
    :background #FFF

  

fieldset.form
  :border 1px solid #777
  :padding 5px
  +gradient(#FFF, #EEE)
  legend
    :margin-left 10px
    :padding 10px
    +border_radius(5px, 5px, 5px, 5px)
    :border 1px solid black
    +gradient(#96080a, #81080a)
    :color #FFF

fieldset.blue
  margin: 0 0 22px 0
  border: 1px solid #095D92
  padding: 12px 17px
  background-color: #DFF3FF
  
  legend
    font-size: 1.1em
    background-color: #095D92
    color: #FFFFFF
    font-weight: bold
    padding: 4px 8px

.infobox
  :color #00529B
  :border 1px solid
  :background #BDE5F8 url(../images/help.png) no-repeat 5px center
  :padding 10px
  :padding-left 30px
  :font-weight bold

.warningbox
  :color #9F6000
  :border 1px solid
  :background #FEEFB3
  :padding 10px
  :padding-left 30px
  :font-weight bold

.strong, .bold
  :font-weight bold