.clear
- unless params[:ajax]
  %h3 Product List
%br
#list
  %table.zebra
    %thead
      %tr
        %th Name
        %th Behavior
        %th Options
    - @products.each do |product|
      %tr
        %td= link_to product.name, product
        %td= product.use_hapful? ? 'Uses Hapful' : 'External link'
        %td
          /= link_to 'Widget', [:edit, product, product.widget] #disbaled for now
          /\|
          = link_to 'Edit', edit_product_path(product)
          \|
          = link_to 'Delete', product, :confirm => 'Are you sure?', :method => :delete